.main__sidebar {
    position: fixed;
    width: 116px;
    height: 100vh;
    background-color: #020203;
    top: 0;
    z-index: -1;
}

.main__sidebar__buttonWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__sidebar__copyright {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 84px;
    left: -4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: white;
    width: max-content;
}